.Under {
	font-family: "FOT-ƒƒ_ƒ“NTLG Pro DB";
	font-size: 28px;
	font-weight: normal;
	line-height: 95px;
	color: #333333;
	background-repeat: no-repeat;
	background-position: center center;
	height: 95px;
	width: 280px;
}
